{{> header }}

{{> navbar }}

<div class="row">
  <div class="col-6">
    <h1>Desarrollo web</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illum accusantium qui perspiciatis quaerat
      assumenda at aperiam quidem delectus asperiores consequatur, quam ea consectetur laudantium incidunt. Saepe quae
      facere fugiat.</p>
  </div>

  <div class="col-6">
    <img src="/asset/img/img.png" alt="img-thumbnail">
  </div>
</div>


{{> footer}}